name: Publish Release

on:
  push:
    paths:
      - 'Flow.Launcher.Plugin.SearchUnicode.*/plugin.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '9.x'

    - name: Build and Package
      shell: pwsh
      run: |
        .\get-uni.ps1
        .\get-emoji.ps1 -outdir Flow.Launcher.Plugin.SearchUnicode.Emoji\emoji
        .\release.ps1
        
    - name: Get Version
      id: get_version
      shell: pwsh
      run: |
        $searchVersion = (Get-Content "Flow.Launcher.Plugin.SearchUnicode.Search/plugin.json" | ConvertFrom-Json).Version
        $identifyVersion = (Get-Content "Flow.Launcher.Plugin.SearchUnicode.Identify/plugin.json" | ConvertFrom-Json).Version
        $emojiVersion = (Get-Content "Flow.Launcher.Plugin.SearchUnicode.Emoji/plugin.json" | ConvertFrom-Json).Version
        $version = @($searchVersion, $identifyVersion, $emojiVersion) | Sort-Object -Descending | Select-Object -First 1
        echo "version=$version" >> $env:GITHUB_OUTPUT
        
    - name: Publish Release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.get_version.outputs.version }}
        name: Release v${{ steps.get_version.outputs.version }}
        draft: false
        prerelease: false
        files: |
          Flow.Launcher.Plugin.SearchUnicode.Search/bin/SearchUnicode.Search.zip
          Flow.Launcher.Plugin.SearchUnicode.Identify/bin/SearchUnicode.Identify.zip
          Flow.Launcher.Plugin.SearchUnicode.Emoji/bin/SearchUnicode.Emoji.zip
